.contenedor_formu_registro_bicicletas{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
}

.mapa_formu_registro_bicicletas{
    width: 50%;
    filter: var(--sombra-1);
    border-radius: 10px;
}

.contenedor_formu_registro_bicicletas > form{
    width: 50%;
    background-color: var(--color-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    border: var(--border-2);
    filter: var(--sombra-1);
    padding: 40px 0px;
}

.contenedor_formu_registro_bicicletas > form > div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor_formu_registro_bicicletas > form > div > label{
    font-size: 35px;
}

.contenedor_formu_registro_bicicletas > form > div > input{
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border: var(--border-2);
    outline: none;
    border-radius: 10px;
}

.contenedor_formu_registro_bicicletas > form > div > p{
    font-size: 25px;
    cursor: pointer;
}

.contenedor_formu_registro_bicicletas > form > div > select{
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border: var(--border-2);
    outline: none;
    border-radius: 10px;
}

.contenedor_formu_registro_bicicletas > form > .btn_editar {
    width: 40%;
    font-size: 30px;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: var(--color-5);
    border: none;
    cursor: pointer;
    transition: .2s;
}

.contenedor_formu_registro_bicicletas > form > button{
    width: 40%;
    font-size: 30px;
    color: black;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: var(--color-4);
    border: none;
    cursor: pointer;
    transition: .2s;
}

.contenedor_formu_registro_bicicletas > form > button:hover{
    filter: var(--sombra-2);
}