.contenedor_opciones_inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.opcion_1 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.opcion_1 > :nth-child(1){
    position: absolute;
    background-color: var(--color-3);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: var(--border-1);
    filter: var(--sombra-1);
    transform: translate(46px, 0px);
    z-index: -1;
}

.opcion_1 > :nth-child(2){
    background-color: var(--color-3);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: var(--border-1);
    transform: translate(46px, 0px);
    z-index: 2;
}

.opcion_1 > :nth-child(2) > img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 20px;
}

.opcion_1> :nth-child(3){
    width: 50%;
    height: 200px;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border-radius: 10px;
    border: var(--border-1);
    filter: var(--sombra-1);
}

.opcion_1> :nth-child(3) > a{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-6);
    text-align: center;
}

/* ----- */

.opcion_2 {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center; 
}

.opcion_2 > :nth-child(1){
    width: 50%;
    height: 200px;
    background-color: var(--color-3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border-radius: 10px;
    border: var(--border-1);
    filter: var(--sombra-1);
}

.opcion_2 > :nth-child(1) > a{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-6);
    text-align: center;
}

.opcion_2 > :nth-child(2){
    position: absolute;
    background-color: var(--color-3);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: var(--border-1);
    filter: var(--sombra-1);
    transform: translate(-46px, 0px);
    z-index: -1;
}

.opcion_2 > :nth-child(3){
    background-color: var(--color-3);
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: var(--border-1);
    transform: translate(-46px, 0px);
    z-index: 2;
}

.opcion_2 > :nth-child(3) > img{
    width: 240px;
    background-color: var(--color-4);
    height: 240px;
    border-radius: 50%;
    padding: 20px;
}